@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  /* border-radius: 8px;*/
}

nav{
  width: -webkit-fill-available;
  z-index: 49;
  background-color: rgb(18,18,18);
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #cccccc;
  background-color: rgb(18,18,18);
}

#sinistra{
  text-align: -webkit-center;
  width: 18%;
}

.btn:hover{
  background-color: rgb(55,55,55);
}

.imggalleria{
  width: auto;
  height: 35px;
  padding-top: 5px;
  padding-left: 15px;
}

#mappa{
  height: 300px;
  width: 500px;
  border-radius: 8px;
}

#logo{
  height: 50px;
  width: auto;
  padding: 35px 10px 25px 0px;
}

.sinismenu{
  width: inherit;
}  

img{
  display: initial;
}

#prodottihome{
  place-content: center;
}

.checked {
  color: #cccccc;
}

.z-40{
  margin-top: 24%;
  margin-inline: 10%;
}

#thumbnail{
  background-size: auto 100%;
  background: url(https://dummyjson.com/image/i/products/1/1.jpg) no-repeat center;
  margin-top: 30px;
  margin-left: -120px;
}
#example{
  display: flex;
  margin-left: 5%;
}
.bg-black{
  text-align: left;
}
td,th {
  padding: 15px;
}

#dettagli_td{
  text-align-last: end;
  width: 500px;
}
.example{
  border-color: white;
  border-width: 0.5px;
}
#example2{
  border-color: white;
  border-width: 0.5px;
  margin-right: -20px;
  margin-bottom: 50px;
  padding: 6px;
}
#popup{
  display: none;
}
.dataTables_filter, .dataTables_info, .dataTables_paginate, .dataTables_length { display: none; }