@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  /* border-radius: 8px;*/
}

nav{
  width: -webkit-fill-available;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #cccccc;
  background-color: rgb(18,18,18);
}

#sinistra{
  text-align: -webkit-center;
  width: 18%;
}

.btn:hover{
  background-color: rgb(55,55,55);
}

.imggalleria{
  width: auto;
  height: 35px;
  padding-top: 5px;
  padding-left: 15px;
}

#mappa{
  height: 300px;
  width: 500px;
  border-radius: 8px;
}

#logo{
  height: 50px;
  width: auto;
  padding: 35px 10px 25px 0px;
}